.about {
	@include adaptive-value("padding-top", 207, 35, 0);
	@include adaptive-value("padding-top", 180, 35, 0);
	&__body {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: rem(768)) {
			flex-direction: column;
		}
	}

	&__image {
		flex: 0 1 55%;
		@media (max-width: rem(768)) {
			flex: 0 1 100%;
			margin-bottom: rem(20);
		}
	}

	&__text {
		flex: 0 1 34%;
		@media (max-width: rem(768)) {
			flex: 0 1 100%;
		}
	}

	&__subtitle {
	}

	&__title {
		margin-bottom: rem(40);
	}

	&__list {
		margin-bottom: rem(48);
	}

	&__item {
		position: relative;
		padding-left: rem(32);
		margin-bottom: rem(12);
		&:before {
			content: "";
			position: absolute;
			display: block;
			background: url("../img/icon/check.svg") center/cover no-repeat;
			width: 16px;
			height: 16px;
			left: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}

	&__btn {
	}
}
