.benefits {
	padding-bottom: 9.5%; //180px
	&__body {
	}

	&__subtitle {
		text-align: center;
	}

	&__title {
		text-align: center;
		@include adaptive-value("margin-bottom", 60, 15, 0);
	}

	&__tabs {
	}

	&__tab-link-list {
		display: flex;
		margin-bottom: rem(60);
		@media (max-width: em(768)) {
			flex-direction: column;
			margin-bottom: rem(15);
		}
	}

	&__tab-link {
		flex: 0 1 25%;
		text-align: center;
		padding: rem(10) 0;
		cursor: pointer;
		border: 1px solid transparent;
		line-height: 160%;
		font-weight: 700;
		display: flex;
		justify-content: center;
		align-items: center;

		&:hover {
			border: 1px solid #ff3f3a;
			border-radius: 4px;
		}
		&.active {
			border: 1px solid #ff3f3a;
			border-radius: 4px;
			color: #ff3f3a;
			svg {
				fill: #ff3f3a;
			}
		}
	}

	&__tab-list {
	}
	&__tab-item {
		display: none;
		align-items: center;
		justify-content: space-between;
		&.active {
			display: flex;
		}
	}
}
.hidden {
	display: none;
}

.tab-item {
	@media (max-width: em(768)) {
		flex: 0 1 50%;
	}
	&__text {
		flex: 0 1 40.5%;
		@media (max-width: em(768)) {
			flex: 1 1 100%;
		}
	}

	&__title {
		font-weight: 900;
		font-size: rem(32);
		line-height: 130%;
		color: #1e212c;
		margin-bottom: rem(24);
	}

	&__descr {
		line-height: 160%;
	}

	&__image {
		flex: 0 1 50%;
		max-height: 400px;
		@media (max-width: em(768)) {
			display: none;
		}
	}
}
.svg {
	fill: #1e212c;
	width: 15px;
	height: 15px;
	margin-right: 20px;
}
