.first {
	position: relative;
	background: url("../img/header/bg.png") center/cover no-repeat;
	&__body {
		height: 100vh;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-row: 0.7fr 0.3fr;
		padding-top: 6rem;
		align-items: center;
		position: relative;
		padding-bottom: rem(80);
		@media (max-height: 590px) {
			height: 100%;
		}
		@media (max-width: em(768)) {
			display: block;
		}
		@media (max-width: em(530)) {
			padding-top: rem(150);
		}
	}
	&__content {
	}
	&__showreel {
		display: flex;
		align-items: center;
		margin-bottom: rem(35);
		position: relative;
		z-index: 5;
		label {
			color: #1e212c;
			font-weight: 700;
			margin-left: rem(15);
		}
	}

	&__btn-play {
		display: block;
		padding: 18px;
		background: #ff3f3a;
		border-radius: 50%;
		position: relative;
		opacity: 0.7;
		transition: 0.3s;
		z-index: 5;
		&::before {
			content: "";
			display: block;
			background: url("../img/icon/play-btn.svg") center/cover no-repeat;
			width: 16px;
			height: 16px;
		}
		&:hover::after {
			content: "";
			position: absolute;
			display: block;
			background: #ff3f3a;
			border-radius: 50%;
			opacity: 0.12;
			width: 80px;
			height: 80px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			transition: 0.3s;
		}
		&:hover {
			opacity: 1;
			transition: 0.3s;
		}
	}

	&__title {
		color: #1e212c;
		font-size: rem(64);
		font-weight: 900;
		width: 90%;
		line-height: 1.3;
		margin-bottom: rem(60);
		position: relative;
		z-index: 5;

		@media (max-width: em(1024)) {
			width: 100%;
			font-size: rem(50);
		}
	}

	&__btns {
		display: flex;
		position: relative;
		z-index: 5;
	}

	&__btn {
		display: block;
		&:first-child {
			margin-right: rem(24);
		}
	}

	&__image {
		position: relative;
		padding: 0px 0px 92% 0px; //*выталкиваем фото для видимости
		img {
			//*адаптируем фото
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: contain;
			@media (max-width: em(768)) {
				position: relative;
				object-fit: cover;
			}
		}
		@media (max-width: em(768)) {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			opacity: 0.3;
		}
		@media (max-width: em(530)) {
			top: 10%;
		}
	}

	&__stats {
		grid-column-start: span 2;
		position: relative;
		z-index: 5;
		@media (max-width: em(1024)) {
			margin-top: rem(25);
		}
	}

	&__stats-list {
		display: flex;
		justify-content: space-between;
		@media (max-width: em(768)) {
			flex-direction: column;
			justify-content: center;
		}
	}

	&__stats-item {
		color: #1e212c;
		display: flex;
		align-items: center;
		position: relative;
		&::before {
			content: "";
			display: block;
			width: 18px;
			height: 18px;
			background: #ff3f3a;
			border-radius: 50%;
			position: relative;
			left: -25%;
			transform: translateX(25%);
			@media (max-width: em(768)) {
				display: none;
				visibility: hidden;
			}
		}
		&:first-child::before {
			display: none;
		}
	}
}
