.header {
	position: fixed;
	z-index: 22;
	width: 100%;
	padding: 1.25rem 0;
	backdrop-filter: blur(5px);
	background: rgba(255, 219, 213, 0.6);
	&__body {
		display: flex;
		width: 100%;
		align-items: center;
		@media (max-width: rem(530)) {
		}
	}

	&__logo {
		min-width: 130px;
		opacity: 0.8;
		transition: opacity 0.3s ease-in-out;
		&:hover {
			opacity: 1;
			transition: opacity 0.3s ease-in-out;
		}
		img {
			width: 100%;
		}
	}

	&__logo-link {
	}

	&__nav {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: space-between;
		margin-left: 2.5rem;
		@media (max-width: 1024px) {
			margin-left: 1rem;
		}
		@media (max-width: rem(768)) {
			justify-content: flex-end;
		}
	}

	&__menu {
	}

	&__menu-list {
		display: flex;
		@media (max-width: rem(768)) {
			flex-direction: column;
			align-items: center;
			overflow: scroll;
			height: 100vh;
			background: rgba(255, 255, 255, 0.7);
			width: 100%;
			position: absolute;
			left: 100%;
			top: rem(90);
			z-index: 1;
			transition: left 0.3s ease-in-out;
		}
	}

	&__menu-item {
		font-weight: 700;
		margin: 0 1.25em;
		&:hover {
			color: #ff3f3a;
		}
		@media (max-width: 1024px) {
			margin: 0 0.5rem;
		}
		@media (max-width: rem(768)) {
			padding: rem(25);
			font-size: 1.5rem;
		}
	}

	&__menu-link {
	}

	&__btns {
		display: flex;
		@media (max-width: rem(768)) {
			margin-right: 1rem;
		}
		@media (max-width: rem(530)) {
			display: block;
		}
	}

	&__btn-consalt {
		display: block;
		background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
		border-radius: 4px;
		padding: 1em 2.5em;
		font-weight: 700;
		color: #fff;
		letter-spacing: 0.031em;
		border: 1px solid transparent;
		transition: background-color 0.3s ease-in-out;
		&:hover {
			background: transparent;
			border: 1px solid #ff3f3a;
			color: #ff3f3a;
			transition: 0.2s ease-in-out;
		}
		@media (max-width: 1024px) {
			padding: 1rem;
		}
		@media (max-width: rem(530)) {
			margin-bottom: rem(15);
		}
	}

	&__btn-login {
		margin-left: 4em;
		font-weight: 700;
		position: relative;
		color: #424551;
		opacity: 0.7;
		&::before {
			content: "";
			background: url("../img/icon/profile.svg") center/contain no-repeat;
			width: 1.125em;
			height: 1.125em;
			position: absolute;
			left: -1.8em;
			top: 50%;
			transform: translateY(-50%);
			@media (max-width: em(1024)) {
				left: -1.4em;
			}
		}
		&:hover {
			opacity: 1;
		}
		@media (max-width: em(1024)) {
			margin-left: 2rem;
		}
	}
}

.header__burger {
	display: none;
	@media (max-width: rem(768)) {
		display: block;
	}
}

.menu-btn {
	width: rem(50);
	height: rem(25);
	position: relative;
	span {
		display: block;
		width: 100%;
		height: 2px;
		background: #ff613a;
		transition: 0.3s;
		&:first-child {
			position: absolute;
			top: 0;
		}
		&:last-child {
			position: absolute;
			bottom: 0;
		}
	}
}

.active {
	left: 0;
}

.active-btn {
	span {
		background: #424551;
		transition: 0.3s;
		&:first-child {
			top: 50%;
			transform: rotate(-45deg);
		}
		&:nth-child(2) {
			display: none;
			visibility: hidden;
		}
		&:last-child {
			top: 50%;
			transform: rotate(45deg);
		}
	}
}
