.team {
	padding-top: 166px;
	padding-bottom: 100px;
	background: url("../img/team/bg.png") center/cover no-repeat;
	&__body {
	}

	&__subtitle {
	}

	&__title {
	}
}
.container {
}
.subtitle {
}
.title {
}
