.testimonials {
	background: url("../img/team/bg.png") center/cover no-repeat;
	padding-bottom: 160px;
	&__body {
		position: relative;
	}

	&__subtitle {
		text-align: center;
	}

	&__title {
		text-align: center;
		margin-bottom: rem(60);
	}

	&__slider {
		position: static;
		margin: 0 69px;
	}

	&__slider-wrapper {
	}

	&__slide {
		background: #fff;
		padding: rem(64) rem(150);
	}

	&__slider-btn-prev.swiper-button-prev {
		left: 0;
		top: 60%;
		width: 48px;
		height: 48px;
		border-radius: 50%;

		&.swiper-button-prev::after {
			content: "";
			background: url("../img/icon/arrow-left-gray.svg") center/cover no-repeat;
			width: 18px;
			height: 12px;
			&:hover {
				background: url("../img/icon/arrow-left.svg") center/cover no-repeat;
			}
		}
		&:hover {
			background: #ff3f3a;
			&::after {
				background: url("../img/icon/arrow-left.svg") center/cover no-repeat;
			}
		}
	}

	&__slider-btn-next.swiper-button-next {
		right: 0;
		top: 65%;
		width: 48px;
		height: 48px;
		border-radius: 50%;

		&.swiper-button-next::after {
			content: "";
			background: url("../img/icon/arrow-right-gray.svg") center/cover no-repeat;
			width: 18px;
			height: 12px;
		}
		&:hover {
			background: #ff3f3a;
			&::after {
				background: url("../img/icon/arrow-right.svg") center/cover no-repeat;
			}
		}
	}
	&__slider-pagination {
		&.swiper-pagination-horizontal {
			bottom: -60px;
		}

		& .swiper-pagination-bullet {
			width: 30px;
			height: 4px;
			font-size: 14px;
			line-height: 20px;
			background-color: #424551;
			border-radius: 1px;
		}
	}
}

.testimonials-slide {
	&__descr {
		font-size: rem(20);
		line-height: 150%;
		margin-bottom: rem(24);
		position: relative;
		&::before {
			content: "";
			background: url("../img/icon/braces.svg") center/cover no-repeat;
			width: 28px;
			height: 20px;
			position: absolute;
			top: 0;
			left: -60px;
		}
	}

	&__person {
		display: flex;
		align-items: center;
	}

	&__photo {
		width: 72px;
		padding-bottom: 72px;
		border-radius: 50%;
		overflow: hidden;
		position: relative;
		margin-right: 20px;
		img {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			object-fit: cover;
		}
	}

	&__info {
	}

	&__name {
		font-weight: 700;
		line-height: 160%;
		color: #1e212c;
		margin-bottom: rem(4);
	}

	&__proff {
		color: #787a80;
		line-height: 150%;
	}
}
.swiper-pagination {
}
.swiper-button-prev {
}
.swiper-button-next {
}
